.admin-candidate-login-main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.login-left-main-container {
    flex: 1;
    background-color: rgb(12, 97, 158);
}

.login-left-side-logo-and-name-outside-container {
    width: 100%;
    height: 40vh;
}

.login-left-side-logo-and-name-main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-left-side-logo-container {
    height: 75px;
    object-fit: cover;
}

.login-left-side-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-left-side-company-name-container {
    color: rgb(252, 241, 217);
    font-size: 20px;
}

.login-left-side-logo-and-name-main-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-signup-signin-text {
    color: rgba(252, 241, 217, 0.848);
}

.login-signup-signin-text {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    user-select: none;
}

.login-signup-signin-text span {
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
}

.login-left-mind-image-component-content-container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.login-left-mind-image-main-container {
    margin-bottom: 0px;
    object-fit: cover;
    height: 60vh;
}

.login-left-mind-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-right-main-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-right-main-form-container {
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-right-main-form-content-container {
    width: 80%;
}

@media only screen and (max-width: 970px) {
    .admin-candidate-login-main-container{
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .login-right-main-form-container{
        width: 80%;
        height: 80%;
    }
    .login-right-main-form-content-container{
        width: 100%;
    }
    .login-left-mind-image-main-container{
        height: 50vh;
    }
}